<a href="https://colab.research.google.com/github/iamabjunior2003/Python-Ans-bank-Code-By-AB/blob/main/Python_Ans_bank_Code_By_AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Explain about operations of list with sample program -:

# append()-:
AB = ['pranali', 'aditi', 'natasha']
AB.append("Aarohi")
print(AB)

['pranali', 'aditi', 'natasha', 'Aarohi']

In [5]:
# extend()
AB = ['aditi', 'Aarohi', 'natasha']
Avengers =['Tony','captain','Thor']
AB.extend(Avengers)
print(AB)

['pranali', 'aditi', 'natasha', 'Tony', 'captain', 'Thor']

In [7]:
# insert()
Avengers =['Tony','captain','Thor']
Avengers.insert(3,"Clint")
print(Avengers)

['Tony', 'captain', 'Thor', 'Clint']

In [8]:
# remove()
Avengers =['Tony','captain','Thor','Clint','DC']
Avengers.remove("DC")
print(Avengers)

['Tony', 'captain', 'Thor', 'Clint']

In [10]:
#  pop()
Avengers =['Tony','captain','Thor','Clint','DC']
Avengers.pop(4)
print(Avengers)

['Tony', 'captain', 'Thor', 'Clint']

In [11]:
# slice
Avengers =['Tony','captain','Thor','Clint','DC']
print(Avengers[1]) # print the element at index 1
print(Avengers[0:3]) # print the elements up to index 3 but no included index 3
print(Avengers[::-1]) # print the list in reverse

captain
['Tony', 'captain', 'Thor']
['DC', 'Clint', 'Thor', 'captain', 'Tony']

In [12]:
# reverse()
Avengers =['Tony','captain','Thor','Clint','DC']
Avengers.reverse()
print(Avengers)

['DC', 'Clint', 'Thor', 'captain', 'Tony']

In [14]:
# len()
Avengers =['Tony','captain','Thor','Clint','DC']
len(Avengers)

5

In [16]:
# min() and Max()

Numbers = [1,23,51,48,56,84,45,61,28]
print(max(Numbers))
print(min(Numbers))

84
1

In [19]:
# Count()
Numbers = [1,23,51,48,56,84,45,61,28,54,85,8,58,2,5,5,5]
print(Numbers.count(5))

3

In [21]:
# multiply

Avengers =['Tony','captain','Thor','Clint','DC']
print(Avengers*2)

['Tony', 'captain', 'Thor', 'Clint', 'DC', 'Tony', 'captain', 'Thor', 'Clint', 'DC']